.App {
  text-align: center;
    position: absolute;
    height: 100vh;
    width: 100%;
}
.Login{
  position: relative;
  top: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(50%, -50%);
  width: 50%;
}
.loginLabel{
  text-align: left;
  font-size: 18px;
}
.fieldsContainer{
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}



.inputField{
  height: 36px;
}
.loginBtn{
  height: 36px;
  width: 30%;
background-color: #a0f5a0;
border: 1px solid #edd8d8;
}
.loginBtn:hover{
  cursor: pointer;
  background-color: white;
}
.navContainer{
  position:absolute;
  display: flex;
  width: 100%;
  margin: 20px 0px;
}
.userName{
  text-align: left;
  width: 20%;
  margin: auto 0px;
}
.inputTxtView{
width: 25%;
margin: 0px 25px;
}

.viewContainer{
  height: 100vh;
  overflow-y: hidden;
  padding-right: 15px;
  display: flex;
}
.view1{
width: 50%;
}
.view2{
width: 50%;
}
.view{
  margin:5px 1%
}

.logOutBtn{
  position: relative;
  right: 0px;
  width: 10%;
  margin-left: auto;
  margin-right: 30px;
}
.inputContainer{
  display: flex;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
